---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nginx-static-files
  namespace: nms4cloud
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: nms4cloud
data:
  default.conf: |
    upstream api_bakend_wss {
        ip_hash;
        server emqx-54.nms4cloud.svc.cluster.local:8083  max_fails=0 weight=1;
    }

    server {
        listen       80;
        listen  [::]:80;
        server_name  api.lmnsaas.com;

        #access_log  /var/log/nginx/host.access.log  main;
        try_files $uri /index.html;

        gzip on;
        gzip_min_length 1024;
        gzip_buffers   4  16k;
        gzip_types   text/plain application/javascript  application/x-javascript text/css application/xml text/javascript application/x-httpd-php image/jpeg image/gif image/png;


        location / {
            root   /usr/share/nginx/html;
            proxy_pass  https://web-for-nginx-1251303505.cos-website.ap-guangzhou.myqcloud.com;
        }


        location /pictures/ {
            root   /usr/share/nginx/html;
            # proxy_pass  https://p-lmnsaas-com-1251303505.cos.ap-guangzhou.myqcloud.com;
            proxy_pass  https://chain-pictures-01-1251303505.cos-website.ap-guangzhou.myqcloud.com/;
        }


        location /mqtt  {
            proxy_pass http://api_bakend_wss/mqtt;

            #代理到上面的地址去，格式：http://域名:端口号，
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
            proxy_set_header Sec-WebSocket-Protocol mqtt;
            proxy_connect_timeout 5s; #配置点1
            proxy_read_timeout 60000s; #配置点2，如果没效，可以考虑这个时间配置长一点
            proxy_send_timeout 60000s; #配置点3
        }


        location /api/ {
            proxy_pass http://gateway.nms4cloud.svc.cluster.local:8080/api/;
            proxy_redirect default;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header Host $http_host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Connection Close;
            proxy_set_header X-Forwarded-For $remote_addr;
            error_page   404              /404.html;
            error_page   500 502 503 504  /50x.html;
        }

        location /spapi/ {
            proxy_pass http://gateway.nms4cloud.svc.cluster.local:8080/api/;
            proxy_redirect default;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header Host $http_host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Connection Close;
            proxy_set_header X-Forwarded-For $remote_addr;
            error_page   404              /404.html;
            error_page   500 502 503 504  /50x.html;
        }

        #error_page  404              /404.html;

        # redirect server error pages to the static page /50x.html
        #
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: nms4cloud
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:1.25.3
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 80
              hostPort: 8081
              protocol: TCP
          resources:
            requests:
              cpu: "0.25"
              memory: "256Mi"
            limits:
              cpu: "0.5"
              memory: "512Mi"
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/conf.d
              readOnly: true
            - name: nginx-static-files
              mountPath: /usr/share/nginx/html
      volumes:
        - name: nginx-config
          configMap:
            name: nginx-config
        - name: nginx-static-files
          persistentVolumeClaim:
            claimName: nginx-static-files
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: nms4cloud
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30080
      protocol: TCP
